<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cao.mapper.OrderHandleDtoMapper">
    <select id="selectFromTwoTable" resultType="com.cao.dto.OrderHandleDto">
        SELECT oh.order_id,oh.customer_name,oh.order_date,oh.order_status,si.ship_id,si.ship_name,ri.receipt_id,ri.receipt_name
        FROM order_handle oh,ship_info si,receipt_info ri
        WHERE oh.ship_id=si.ship_id
        AND oh.receipt_id=ri.receipt_id
    </select>

    <select id="selectFromThreeTable" resultType="com.cao.dto.OrderHandleDtoAll">
        select * FROM order_handle oh,ship_info si,receipt_info ri
        WHERE oh.ship_id=si.ship_id
        AND oh.receipt_id=ri.receipt_id
        AND oh.order_id=#{order_id}
    </select>

    <select id="selectOrderByDeliveryId" resultType="com.cao.pojo.OrderHandle">
        SELECT order_id,receipt_people,receipt_tel,goods_weight,goods_volume,receipt_address
        FROM order_handle
        WHERE Delivery_Id = (SELECT gh.delivery_id FROM goods_handle gh,ship_info si,receipt_info ri
        WHERE gh.ship_id=si.ship_id AND gh.receipt_id=ri.receipt_id AND gh.goods_id=#{goodsId})
    </select>
</mapper>